@page "/"

@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D
@using OfLife
@inject IJSRuntime JsRuntime;

<div id="canvasHolder" style="position: fixed; width: 100%; height: 100%">
    <BECanvas Width="600" Height="400" @ref="_canvasRef"></BECanvas>
</div>

@code {
    private static double _scale = 4.0;
    private static MapBuilder _mapBuilder = A.Map
                .WithWidth(400)
                .WithHeight(200)
                .WithPentominoR();
    private static Game _game = new Game(_mapBuilder);

    private static Canvas2DContext? _ctx;
    protected BECanvasComponent? _canvasRef;
    private static DateTime _lastRender;

    private static long _cycleCounter = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _ctx = await _canvasRef.CreateCanvas2DAsync();
        await JsRuntime.InvokeAsync<object>("initRenderJS", DotNetObjectReference.Create(this));
        await base.OnInitializedAsync();

        await _ctx.BeginBatchAsync();
        await ClearCanvas();
        await _ctx.EndBatchAsync();
    }

    [JSInvokable]
    public void ResizeInBlazor(double width, double height)
    {
        //=> _game.Resize(width, height);
    }

    [JSInvokable]
    public async ValueTask RenderInBlazor(float timeStamp)
    {
        double fps = 1.0 / (DateTime.Now - _lastRender).TotalSeconds;
        _lastRender = DateTime.Now;
        _cycleCounter += 1;

        var (born, died) = _game.Cycle();

        await _ctx!.BeginBatchAsync();

        await _ctx.SetFillStyleAsync("#003366");
        await _ctx.FillRectAsync(10, 2, 420, 16);
        await _ctx.SetFillStyleAsync("#FFFFFF");
        await _ctx.SetFontAsync("16px consolas");
        await _ctx.FillTextAsync($"FPS: {fps:0.0} CYCLE: {_cycleCounter} BORN: {born.Count} DIED: {died.Count}", 10, 15);
        await _ctx.SetStrokeStyleAsync("#FFFFFF");

        await _ctx.SetFillStyleAsync("#003366");
        foreach (var cell in died)
        {
            await DrawRect(cell);
        }

        await _ctx.SetFillStyleAsync("#FFFFFF");
        foreach (var cell in born)
        {
            await DrawRect(cell);
        }

        await _ctx.EndBatchAsync();
    }

    private async Task DrawRect((int, int) cell)
    {
        await _ctx!.FillRectAsync(cell.Item1 * _scale, cell.Item2 * _scale, _scale, _scale);
    }

    private async Task ClearCanvas()
    {
        await _ctx!.ClearRectAsync(0, 0, _mapBuilder.Width * _scale, _mapBuilder.Height * _scale);
        await _ctx.SetFillStyleAsync("#003366");
        await _ctx.FillRectAsync(0, 0, _mapBuilder.Width * _scale, _mapBuilder.Height * _scale);
    }
}